<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.quiz.lesson03.mapper.RealEstateMapper">
 	<select id="selectRealEstateById" parameterType="int" resultType="com.quiz.lesson03.domain.RealEstate">
 	<!-- 3 - 1 -->
 		SELECT
 			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE
			`id` = #{id}
 	
 	</select>

 	<select id="selectRealEstateByRentPrice" parameterType="int" resultType="com.quiz.lesson03.domain.RealEstate">
 	<!-- 3 - 2 -->
 		SELECT
 			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE
			`rentPrice` &lt; #{rentPrice}
		ORDER BY 
			`rentPrice`
		ASC
 	
 	</select>
 	
 	<select id="selectRealEstateByAreaAndPrice" parameterType="int" resultType="com.quiz.lesson03.domain.RealEstate">
 	<!-- 3 - 3 -->
 		SELECT
 			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE
			`area` &gt; #{area}
		AND
			`price` &lt; #{price}
		AND 
			`type` = '매매'
		ORDER BY
			`id`
		DESC
 	
 	</select>
 	
 </mapper>