<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quiz.store_review.mapper.ReviewMapper">
	<select id="selectReviewByStoreId" parameterType="int" resultType="com.quiz.store_review.domain.Review">
		SELECT
			`id`
			,`storeId`
			,`menu`
			,`userName`
			,`point`
			,`review`
			,`createdAt`
			,`updatedAt`
		FROM
			`new_review`
		WHERE
			`storeId` = #{storeId}
	</select>
</mapper>