<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title>Quiz01</title>
</head>
<body>
	<th:block th:with="number1=36, number2=3">
		<h1>1. 변수</h1>
		<h2 th:text="|첫번째 숫자: ${number1}|"></h2>
		<h2 th:text="|두번째 숫자: ${number2}|"></h2>
		<br>
		
		
		<h1>2. 산술연산</h1>
		<h4 th:text="'더하기:' + ${number1 + number2}"></h4>
		<h4 th:text="'빼기:' + ${number1 - number2}"></h4>
		<h4 th:text="'곱하기:' + ${number1 * number2}"></h4>
		<h4 th:text="'나누기:' + ${number1 / number2}"></h4>
		<br>
		
		<h1>3.태그 출력</h1>
		<h2 th:utext="'<h3>안녕하세요</h3>'"></h2>
		<br>
		
		<h1>4. if와 unless</h1>
		<th:block th:with="average=${(number1+number2)/2.0}">
			<div th:if="${average} >= 10">
				<h1 th:text="${average}"></h1>
			</div>
			<h3 th:unless="${average} >= 10" th:text="${average}"></h3>
		</th:block>
	</th:block>
</body>
</html>